@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Button */
.btn-danger {
    background-color: #BD0001;
    border-radius: 10px;
    border-color: #BD0001;
    padding: 10px 45px;
    color: white;
}
.btn-outline-danger {
    background-color: transparent;
    border-radius: 10px;
    border-color: #BD0001;
    padding: 10px 45px;
    color: #BD0001;
}

/* Navbar */
.nav-item .nav-link {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.scroll-nav-active {
    background-color: white;
    /*border-bottom: 1px solid #BD0001;*/
    box-shadow: 1px 1px 11px -1px rgba(1, 1, 1, 0.08);
}

.text-nav-active {
    color: black;
}

#hero {
    background-image: url("../../assets/images/homescreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px; 
}

.hero-title {
    padding-top: 200px;
}


/* Responsive layar kecil 450*/
@media screen and (min-width: 450px){
    .hero-text {
        font-size: 35px;
        font-weight: 600;
    }
}

/* Responsive layar kecil 550*/
@media screen and (min-width: 550px){
    .hero-text {
        font-size: 35px;
        font-weight: 600;
    }
}

/* Responsive layar kecil 800*/
@media screen and (min-width: 800px){
    .hero-text {
        font-size: 65px;
        font-weight: 600;
    }
}

/* maps */
.stripe {
    height: 5px;
    width: 40px;
    background-color: #BD0001;
}

/* video */
#video {
    background-image: url("../images/il-bg-video.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

/* foto */
/* paralax backgroud */
.section-foto {
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax {
    background-image: url("../images/il-bg-foto.jpg");
}

.stripe-putih {
    height: 5px;
    width: 40px;
    background-color: #ffff;
}

/* search */
.search {
    margin-top: -30px;
}

.search input {
    padding-right: 35px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
